* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #1C1C1C;
}

button {
    background-color: white;
    border-color: white;
    border-style: solid;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1C1C1C;
    transition: transform 0.1s ease-in-out
}

button:hover {
    background-image: linear-gradient(45deg, #114084, #82B7DC);
    color: white;
    transform: scale(1.05);
}

/* Nav Bar */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1C1C1C;
    height: 4.5rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.logo img{
    width: 125px;
}

.logo a{
    height: fit-content;
}

nav ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

nav ul li a{
    text-decoration: none;
    position: relative;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1rem;
}


nav ul li a::after {
    content: "";
    position: absolute;
    background-color: #ffffff00;
    height: 3px;
    right: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    background-color: #fff;
}

/* title */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem;
    padding-top: 21vmin;
    padding-bottom: 21vmin;
    background-color: #1C1C1C;
}

.title div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    text-align: center;
}

.title h1 {
    margin: 0;
    font-size: 3rem;
}

.title h1 span{
    background-image: linear-gradient(#82B7DC,#114084);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.title p {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
}

.title img {
    width: 500px;
    border-radius: 50px;
}

/* divider */
#wave-divider1{
    background-color: #fff;
}

#wave-divider2 img{
    background-color: #ffffff;
}
/* main content */
/* about section */
.about {
    background-color: white;
    color: #1C1C1C;
    font-size: 1.5rem;
    padding: 5rem;
    letter-spacing: 1px;
}

main span {
    color: #3466AA ;
    font-weight: 600;
    font-size: 1.5rem;
}

.about blockquote {
    font-size: 1.2rem;
    background-color: #1C1C1C;
    color: white;
    padding: 2rem;
    border-radius: 25px;
}

/* Photo Gallery */
.gallery {
    font-size: 1.5rem;
    padding: 5rem;
    text-align: center;
}

.gallery img {
    width: 250px;
    border-radius: 25px;
}

.gallery-images {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* LBCSI */
.lbcsi {
    position: relative;
    top: -40px;
    font-size: 1.5rem;
    padding: 5rem;
}

/* Contact */
.contact {
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 5rem;
    padding-top: 0;
}

.contact img {
    width: 400px;
}

.contact a{
    position: relative;
    color: #82B7DC;
    text-decoration: none;
}
.contact a::after {
    content: "";
    position: absolute;
    background-color: #82B7DC00;
    height: 3px;
    right: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.contact a:hover::after {
    background-color: #82B7DC;
}

/* Sponsors */
/* .sponsors {
    background-color: #fff;
    color: #1C1C1C;
    position: relative;
    top: 0px;
    font-size: 1.5rem;
    padding: 5rem;
} */
